*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.8rem;
  font-weight: 300;
  box-sizing: border-box;
  letter-spacing: 1px;
  // overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus {
    // outline: none;
  }
}

h1,
h2,
h3,
p,
pre,
ul {
  margin-bottom: 1.5em;
}

img {
  max-width: 100%;
  display: block;
}

.clearfix {
  overflow: auto;
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.wrapper {
  padding: 0 1rem;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid;

  @include phone-land {
    max-width: 540px;
  }
  @include phablet {
    max-width: 720px;
  }
  @include tab-land {
    max-width: 960px;
  }
  @include desktop {
    max-width: 1236px;
  }
}

.body-container {
  max-height: 100vh;
  width: 100%;
  // background-image: linear-gradient(rgba(179, 179, 179, 0.3)),
  //   url(../images/bg.jpg);
  background-size: cover;
  background-position: 5% 5%;
}
