$mainWhite: #fff;
$mainBlack: #000;

// Main page colors
$clr-seagull: #80c5ee; // main Color
$clr-natgray: #948e83;
$clr-anthensGray: #948e83;
$clr-sanJuan: #365c7b;
$clr-sirocco: #6f8282;
$clr-lightgray1: #ddd;
//  #79bae2 #80c5ee;
