node_modules
.package-lock.json
.DS_Store
webpack.dev.js
webpack.prod.js
postcss.config.js
fonts
src/images/favicon/
src/images/icomoon/
src/images/Testsprites.svg
dist/images/favicon/
dist/images/icomoon/
dist/images/Testsprites.svg

zmiscellanous.txt