.btn {
  position: relative;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    border: 1px solid #000;
    opacity: 0;
    transition: all 150ms ease-in-out;
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1.3);
  }

  &--intro {
    width: 5rem;
    height: 5rem;

    &:first-of-type {
      margin-right: 4rem;
    }

    @include tab-land {
      width: 6rem;
      height: 6rem;
    }
  }

  &--footer {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 3rem;
  }

  &--project {
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
    // border: 1px solid #444;
    &::after {
      display: none;
    }
    &:hover {
      .link-hoverty::before {
        transform: translateY(0%);
      }
    }
  }
}

.icon {
  fill: $clr-sanJuan;

  &--intro {
    width: 4rem;
    height: 4rem;

    @include tab-land {
      width: 5rem;
      height: 5rem;
    }
  }

  &--footer {
    width: 2.3rem;
    height: 2.3rem;
  }
  &--project {
    width: 2rem;
    height: 2rem;
    transition: all 500ms ease;
    overflow: hidden;

    &:hover {
      transform: scale(1.2);
    }
  }

  &--text {
    margin-left: 1rem;
    line-height: 1.2;
  }
}

.link-hoverty {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($mainBlack, 0.2);
    z-index: -1;
    transform: translateY(95%);
    transition: all 0.2s cubic-bezier(1, 0.05, 0.42, 1.12);
  }

  // &:hover::before {
  //   transform: translateY(0%);
  // }
}
