.footer {
  // border: 3px dashed red;
  // text-align: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, $clr-sirocco, $clr-seagull);
  background-size: 100% 1px;
  background-position: center top;
  padding-top: 1.4rem;

  // background-color: $clr-natgray;
  font-size: 1.4rem;
  @include tab-land {
    font-size: 1.6rem;
  }

  @include tab-land-and-down {
    text-align: center;
  }
  & .container {
    // border: 1px solid;
  }

  & p {
    margin-bottom: 1rem;
  }

  &__social {
    margin-bottom: 1rem;
    & svg {
      fill: $clr-sanJuan;
    }
  }
}

.row-1 {
  @include tab-land-and-down {
    text-align: center;
  }
}
